@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(#eee, #222);
  color: light-dark(#222, #eee);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/*********************   CARD1 WITH BORDER AND GLOW  **************************/
.card-container {
  --box1-color: #333;
  --box1-color75: #33333375;
  --box1-height: 400px;
  --box1-width: 300px;
  --box1-glow: #59ff50;
}

.box1 {
  margin: 2rem;
  width: var(--box1-width);
  height: var(--box1-height);
  background-color: var(--box1-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.box1::before {
  position: absolute;
  content: "";
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: calc(1.5 * var(--box1-width));
  height: calc(1.5 * var(--box1-width));
  background-image: radial-gradient(var(--box1-glow), transparent, transparent);
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.box1:hover::before {
  opacity: 0.5;
}

.box1::after {
  content: "";
  position: absolute;
  inset: 3px;
  background-color: var(--box1-color75);
  border-radius: inherit;
}

/*********************   CARD2 WITH BORDER AND GLOW  **************************/

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

.box2 {
  position: relative;
  border-radius: 1rem;
  height: 400px;
  width: 300px;
  background: #333;

}

.box2::before,
.box2::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;
  background: linear-gradient(var(--angle), orange, #4a00ff);
  animation: autoRotate 4s linear infinite;
}

.box2::after {
  filter: blur(20px)
}

.box2::before {
  inset: -3px;
}

@keyframes autoRotate {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}


/***********************************  CLOCK   **********************************/
span {
  font-size: 3rem;
  font-weight: bold;
  background: #ddd;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #333;
}

.ring {
  width: 300px;
  height: 300px;
  outline: #333 solid 15px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  background: #ccc;
  box-shadow: 20px 30px 20px #000;
}

.ring:after {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
}

.seconds {
  position: absolute;
  height: 140px;
  width: 5px;
  background: gold;
  transform-origin: bottom;
  transform: translateY(-70px) rotate(0deg);
}

.minutes {
  position: absolute;
  height: 130px;
  width: 5px;
  background: orange;
  transform-origin: bottom;
  transform: translateY(-65px) rotate(0deg);
}

.hours {
  position: absolute;
  height: 120px;
  width: 5px;
  background: darkred;
  transform-origin: bottom;
  transform: translateY(-60px) rotate(0deg);
}


/*********************************** Particles ************************************/
.banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background: #00000050;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  backdrop-filter: blur(90px);
}


/*********************************** Slider ************************************/
.slider {
  --slider-time: 100s;
  animation: autoRun 100s linear infinite;
}

.slider:nth-of-type(0) {
  animation-delay: -50s;
}

@keyframes autoRun {
  to {
    transform: translatex(-200%);
  }
}

/*********************************** Card Reveal ************************************/
.card-reveal-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  max-width: 80%;
  margin: 0 auto;
  padding: 20% 0;
  grid-gap: 100px 50px;
}

.card-reveal {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
  background: rgb(75, 24, 9);
  border: 1px solid;
  animation: scrollReveal linear;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes scrollReveal {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

/*********************************** ImgBx ************************************/

.img-container .imgBx {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 300px;
  height: 300px;
  position: relative;
}

.img-container .imgBx:hover {
  z-index: 1000;
}

.img-container .imgBx i {
  display: block;
  width: 100%;
  height: 100%;
  background: url("/myphoto.png");
  background-size: 300px;
  background-position: center;
}